<template>
  <div>
    <div v-if="loading">
      <pulse-loader></pulse-loader>
    </div>
    <div v-else>
      <h1 class="title is-5" v-if="!cep">Preencha o cep</h1>

      <ul v-else >
        <p>Clique em um dos ceps para escolher seu tipo de envio</p>
        <hr>

        <li v-for="shippingOption in shippingOptions">
          <shipping-option
            :shipping-option="shippingOption"
          ></shipping-option>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>

  import {mapGetters, mapMutations} from 'vuex'
  import ShippingOption from './ShippingOption.vue'
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  import requestHelper from './../../utils/requestHelper'

  export default {
    name: 'ShippingOptions',

    components:{
      ShippingOption,
      PulseLoader
    },
    data () {
      return {
        loading: false,
        shippingOptions: [],
        cep: null,
        requiredError: null
      }
    },
    mounted(){

      if(!this.userCep )
        return
      if(this.userCep.length < 8 )
        return

      this.getPriceAndTime(this.userCep)
    },

    watch:{
      userCep(){
        this.shippingOptions = []
        if(!this.userCep)
          return
        if(this.userCep.length < 8 )
          return

        this.getPriceAndTime(this.userCep)
      },

    },
    computed:{
      ...mapGetters(['user']),
      userCep(){
        this.cep = this.user.cep
        return this.user.cep
      },


    },
    methods : {

      getPriceAndTime(cep){
        this.loading = true;
        requestHelper.calcPrecoPrazo({cep: cep}).then(response=>{
          this.loading = false;
          this.shippingOptions = response.data.data
        }).catch(err=>{
          console.log(err)
        })
      },


    }

  }
</script>

<style scoped lang="sass">

</style>
