<template>
  <div class="card " @click="selectOption" :class="shippingCode == checkoutShippingCode ? 'selected' : ''">
    <div class="card-content">
      <div class="media">

        <div class="media-left is-hidden-touch is-hidden-desktop-only">
          <img :src="codes" alt="Image" class="image is-96x96">
        </div>
        <div class="media-content">
          <p class="title is-4">Entrega Prevista: {{deliveryDate}} </p>
          <p class="subtitle is-6">Preco: {{value}}R$ </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>

  import {mapGetters, mapMutations} from 'vuex'
  import {SET_CHECKOUT_SHIPPING} from '../../store/mutations'


  export default {
    name: 'shippingOption',

    props:[
      'shippingOption'
    ],

    computed: {
      ...mapGetters(['checkout']),
      shippingCode(){
        return this.shippingOption.code
      },
      codes(){
        const images = require.context('../../assets/', false, /\.png$ || \.jpg$/)

        switch (this.shippingCode){
          case 2:
            return images('./sedex-logo-1.png')
          case 1:
            return images('./pac.jpg')
        }
      },
      deliveryDate(){
        const data = new Date(this.shippingOption.deliveryDate);
        let dia = data.getDate();
        if (dia.toString().length === 1)
          dia = "0"+dia;
        let mes = data.getMonth()+1;
        if (mes.toString().length === 1)
          mes = "0"+mes;
        let ano = data.getFullYear();
        return dia+"/"+mes;
      },
      value(){
        return this.shippingOption.value
      },
      checkoutShippingCode(){
        return this.checkout.data.shipping.type
      },
    },

    watch: {

    },
    methods:{
      ...mapMutations({
        setCheckoutShipping: SET_CHECKOUT_SHIPPING,
      }),
      selectOption(){
        this.setCheckoutShipping(this.shippingOption)
      },

    }

  }
</script>

<style scoped lang="scss">

  img{
    margin: 0;
    padding: 0;
  }
  .card{
    padding: 0;
    margin:0;
  }
  .card-content{
    padding: 0;
    margin:0;
  }
  .selected{
    border: 2px solid rgb(53,123,216);
  }
</style>
