<template>
  <div class="cart">
    <ul>
      <li  v-for="product in products" >
        <div class="card ">
          <div class="card-content">
            <div>
              <img :src="product.image" alt="Image" class="image is-96x96">
            </div>
            <div class="media-content">
              <p class=" ">Nome: {{product.name}}</p>
              <p class=" ">Valor: {{product.price}} R$</p>
              <p class=" ">Qtd: {{product.qtd}}</p>
            </div>
          </div>

        </div>
        <p>Método de pagamento: <span class="is-bold">{{paymentMethod}}</span></p>

      </li>
      <div style="padding:1em">
        <p>SubTotal: {{ subTotal }} R$</p>
        <p>Frete: {{ shippingCost }} R$</p>
        <p>Total: {{ total }} R$</p>
      </div>
    </ul>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import ShoppingCartCard from '../ShoppingCart/ShoppingCartItem.vue'

  export default {
    name: 'ProductReview',

    components:{
      ShoppingCartCard
    },
    mounted(){
    },

    computed: {
      ...mapGetters({
        checkout: 'checkout',
        checkoutPending: 'checkoutPending'
      }),
      products(){
        return this.checkout.data.products
      },
      subTotal () {
        if(!this.products.length)
          return 0;
        return this.products.reduce((total, product) => {
          return total + product.price * product.qtd
        }, 0).toFixed(2)
      },
      total(){

        return (Number(this.shippingCost) +  Number(this.subTotal)).toFixed(2)
      },
      shippingCost(){
        if(!this.checkout.data.shipping.cost)
          return 0
        return this.checkout.data.shipping.cost
      },
      paymentMethod(){
        switch(this.checkout.method) {
          case 1:
            return "Cartão de crédito"
          case 2:
            return "Boleto"
        }
      }
    },

    data(){
      return{
        show : false
      }
    },
    methods :{

    }
  }
</script>

<style lang="scss" scoped>


</style>
