<template>
  <div class="columns wrapper">

    <div class="column is-5">
      <div class="image-wrapper">
        <img :src="productImage" alt="product image">
      </div>
    </div>
    <div class="column is-6 content-wrapper">
      <h4 class="title is-3 is-bold ">{{productName}}</h4>

      <table class="table ">

        <tbody>
        <tr>
          <td class="is-bold">Preço</td>
          <td>{{price}}</td>
        </tr>
        <tr>
          <td class="is-bold">Quantidade</td>
          <td>{{qtd}}</td>
        </tr>
        <tr>
          <td class="is-bold">Quantidade em Estoque</td>
          <td>{{quantity}}</td>

        </tr>
        </tbody>


      </table>
      <!--<div>-->
        <!--<p> <span class="is-bold">Preço</span> <span>{{price}} R$</span></p>-->
      <!--</div>-->
      <!--<div class="input-wrapper">-->
        <!--<label class="label">Qtd</label>-->
        <!--<input class="input is-small" v-model="qtd" />-->
      <!--</div>-->
      <!--<div>-->
        <!--<p>Qtd Estoque</p> <span>{{quantity}} </span>-->
      <!--</div>-->
      <div>
        <a class="button" @click="addToCart(product)">
          <p>
            Adicionar ao Carrinho
          </p>
          <a class="icon" href="#">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </a>
      </div>
    </div>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {

    computed: {
      ...mapGetters(['modal']),
      product(){
        return this.modal.data
      },
      productName(){
        return this.product.name
      },
      price(){
        return parseFloat(this.product.sell_value).toFixed(2)
      },
      quantity(){
        return this.product.quantity
      },
      productImage(){
        return this.product.image_url
      }
    },

    data(){
      return{
        qtd: 1
      }
    },

    methods:{
      ...mapActions([
        'addToCart'
      ]),
      submitModal(){
        this.$emit('submit')
        this.$emit('close')
      }
    }

  }
</script>

<style scoped lang="scss">
  .icon{
    color: rgb(48,49,50);
  }
  .wrapper{
    padding-top: 1em;
  }
  .image-wrapper{
    margin: 1em;
    margin-top: 0;
  }
  .content-wrapper{
    padding: 1em;
  }
  .input{
    width: 30%;
  }
  .label{
    margin-right: 2em;
  }
  .input-wrapper{
    display: flex;
  }

</style>
