<template>
  <div>
    <form class="form-wrapper">
      <div class="group">
        <input v-model="address.cep" v-mask="'#####-###'"
               v-on:keyup="checkAndUpdateAddresses(address.cep)"
               maxlength="9"
               type="text"><span class="highlight"></span><span class="bar"></span>
        <label class="mdl-label"
          :class="[address.cep ? 'is-writed' : '',cepRequired ? 'is-wrong' : '']"

        >CEP</label>
        <div v-if="cepRequired" class="notification is-danger">
          <a class="delete" @click="cepRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="address.logradouro" type="text"><span class="highlight"></span><span class="bar"></span>
        <label class="mdl-label"
          :class="[address.logradouro ? 'is-writed' : '',logradouroRequired ? 'is-wrong' : '']"

        >Logradouro</label>
        <div v-if="logradouroRequired" class="notification is-danger">
          <a class="delete" @click="logradouroRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="address.complemento" type="text"><span class="highlight"></span><span class="bar"></span>
        <label class="mdl-label"
          :class="address.complemento ? 'is-writed' : ''"

        >Complemento</label>

      </div>

      <div class="group">
        <input v-model="address.numero" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[address.numero ? 'is-writed' : '', numeroRequired ? 'is-wrong' : '']"

        >Número</label>
        <div v-if="numeroRequired" class="notification is-danger">
          <a class="delete" @click="numeroRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="address.bairro" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[address.bairro ? 'is-writed' : '',bairroRequired ? 'is-wrong' : '']"

        >Bairro</label>
        <div v-if="bairroRequired" class="notification is-danger">
          <a class="delete" @click="bairroRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="address.localidade" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[address.localidade ? 'is-writed' : '',localidadeRequired ? 'is-wrong' : '']"

        >Localidade</label>
        <div v-if="localidadeRequired" class="notification is-danger">
          <a class="delete" @click="localidadeRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>


      <div class="group">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label
          class="mdl-label"
          :class="[address.uf ? 'is-writed' : '',ufRequired ? 'is-wrong' : '']"
          style="top: -15px;"
        >
          Estado
        </label>
        <select class="browser-default" v-model="address.uf">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espirito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MT">Mato Grosso</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
        <div v-if="ufRequired" class="notification is-danger">
          <a class="delete" @click="ufRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>

      </div>

      <button v-if="!creating" type="button" class="button buttonBlue" @click="updateInfo">Atualizar
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <button v-else type="button" class="button is-loading buttonBlue">
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>

    </form>
  </div>
</template>

<script>

  import { mapGetters, mapMutations } from 'vuex'
  import {UPDATE_USER_CEP,
    UPDATE_ADDRESS_CHECKOUT_DATA,
    CHECKOUT_ADDRESS_VALIDATED,
    CHECKOUT_REQUEST_VALIDATE} from './../../store/mutations'
  import requestHelper from './../../utils/requestHelper'
  import SimpleVueValidator from 'simple-vue-validator'

  const Validator = SimpleVueValidator.Validator;

  export default {
    name: 'AddressForm',

    mounted(){
      if(this.user)
        this.address = Object.assign({}, this.user)
    },

    data () {
      return {
        isVisible: true,
        cepRequired: null,
        logradouroRequired: null,
        bairroRequired: null,
        numeroRequired: null,
        ufRequired: null,
        localidadeRequired: null,

        creating: null,

        address:{
          cep: null,
          logradouro: null,
          complemento: null,
          numero: null,
          bairro: null,
          localidade: null,
          uf: null,
        }
      }
    },

    computed:{
      ...mapGetters([
        'user',
        'checkout'
      ]),
      userStatus(){
        return this.user.pending
      },
      checkoutValidating(){
        return this.checkout.validating;
      },
      urlCepRequest(){
        return "https://viacep.com.br/ws/"+this.address.cep+"/json/"
      }
    },

    watch:{
      userStatus(){
        if(!this.userStatus)
          this.address = Object.assign({}, this.user)
      },
      checkoutValidating(){
        if(this.checkoutValidating)
          this.validateForm();
      }
    },

    methods : {
      ...mapMutations({
        updateUserCep : UPDATE_USER_CEP,
        checkoutAdressValidated:  CHECKOUT_ADDRESS_VALIDATED,
        updateAddressCheckoutData:  UPDATE_ADDRESS_CHECKOUT_DATA,
        checkoutRequestValidate: CHECKOUT_REQUEST_VALIDATE
      }),

      checkAndUpdateAddresses(cep){
        if(cep.length !== 9 || this.localConfirmPass === cep)
          return;
        this.updateUserCep(cep)
        this.axios.get(this.urlCepRequest).then( response=>{
          if(!response.data['erro'])
            this.address = response.data
        })

      },
      updateInfo(){
        this.$validate().then((response)=>{
          if(!response)
            return;
          const addressJson = JSON.stringify(this.address)
          this.creating = true;
          requestHelper.updateUser(addressJson).then(response=>{
            this.creating = false;
          }).catch(err=>{
            this.creating = false;

          })
        })
      },
      validateForm(){
        this.$validate().then(response=>{
          if(response) {
            const data = Object.assign({},this.address)
            this.checkoutAdressValidated(true)
            this.updateAddressCheckoutData(data)
          }
          else
            this.checkoutAdressValidated(false)
          this.checkoutRequestValidate(false)
        })
      }

    },
    validators: {
      cep: function () {

        this.cepRequired = false

        const cep = this.address.cep ? this.address.cep : ''

        if(Validator.value(cep).required()._messages.length >0)
          this.cepRequired = true

        return Validator.value(cep).required();
      },
      logradouro: function () {

        this.logradouroRequired = false

        const logradouro = this.address.logradouro ? this.address.logradouro : ''

        if(Validator.value(logradouro).required()._messages.length >0)
          this.logradouroRequired = true

        return Validator.value(logradouro).required();
      },
      numero: function () {

        this.numeroRequired = false

        const numero = this.address.numero ? this.address.numero : ''
        if(Validator.value(numero).required()._messages.length >0)
          this.numeroRequired = true

        return Validator.value(numero).required();
      },
      bairro: function () {

        this.bairroRequired = false

        const bairro = this.address.bairro ? this.address.bairro : ''
        if(Validator.value(bairro).required()._messages.length >0)
          this.bairroRequired = true
        return Validator.value(bairro).required();
      },
      localidade: function () {

        this.localidadeRequired = false

        const localidade = this.address.localidade ? this.address.localidade : ''
        if(Validator.value(localidade).required()._messages.length >0)
          this.localidadeRequired = true
        return Validator.value(localidade).required();
      },
      uf: function () {

        this.ufRequired = false

        const uf = this.address.uf ? this.address.uf : ''
        if(Validator.value(uf).required()._messages.length >0)
          this.ufRequired = true
        return Validator.value(uf).required();
      },

    },

  }
</script>

<style scoped lang="scss">

  .label{
    font-size:  10pt ;
  }

</style>
