<template>
  <div class="user-form">
    <form>
      <div class="group">
        <input v-model="localUser.name" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[localUser.name ? 'is-writed' : '',nameRequired ? 'is-wrong' : '']"
        >Nome</label>
        <div v-if="nameRequired" class="notification is-danger">
          <a class="delete" @click="nameRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>
      <div class="group">
        <input v-model="localUser.lastName" type="text"><span  class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[localUser.lastName ? 'is-writed' : '',lastNameRequired ? 'is-wrong' : '' ]">Sobrenome</label>
        <div v-if="lastNameRequired" class="notification is-danger">
          <a class="delete" @click="lastNameRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>
      <div class="group">
        <input v-model="localUser.email" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[localUser.email ? 'is-writed' : '',emailRequired ? 'is-wrong' : '']"
        >Email</label>
        <div v-if="emailRequired" class="notification is-danger">
          <a class="delete" @click="emailRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <div v-if="wrongEmail" class="notification is-danger">
          <a class="delete" @click="wrongEmail = false"></a>
          <p>
            Email Incorreto
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="localUser.cpf" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[localUser.cpf ? 'is-writed' : '',cpfRequired ? 'is-wrong' : '']"
        >CPF</label>
        <div v-if="cpfRequired" class="notification is-danger">
          <a class="delete" @click="cpfRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="group column is-2">
          <input v-model="localUser.codeArea" type="number"><span class="highlight"></span><span class="bar"></span>
          <label
            class="mdl-label"
            :class="[localUser.codeArea ? 'is-writed' : '',codeAreaRequired ? 'is-wrong' : '']"
          >DDD</label>
          <div v-if="codeAreaRequired" class="notification is-danger">
            <a class="delete" @click="codeAreaRequired = false"></a>
            <p>
              Campo Obrigatório
            </p>
          </div>
        </div>

        <div class="group column">
          <input v-model="localUser.phoneNumber" type="number"><span class="highlight"></span><span class="bar"></span>
          <label
            class="mdl-label"
            :class="[localUser.phoneNumber ? 'is-writed' : '',phoneNumberRequired ? 'is-wrong' : '']"
          >Telefone</label>
          <div v-if="phoneNumberRequired" class="notification is-danger">
            <a class="delete" @click="phoneNumberRequired = false"></a>
            <p>
              Campo Obrigatório
            </p>
          </div>
        </div>
      </div>

      <div class="group">
        <datepicker v-model="localUser.birth" :initial-view="'year'"><span class="highlight"></span><span class="bar"></span></datepicker>
        <label
          class="mdl-label"
          :class="[localUser.birth ? 'is-writed' : '',birthRequired ? 'is-wrong' : '']"
        >Nascimento</label>
        <div v-if="birthRequired" class="notification is-danger">
          <a class="delete" @click="birthRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="localUser.gender" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[localUser.gender ? 'is-writed' : '',genderRequired ? 'is-wrong' : '']"
        >Sexo</label>
        <div v-if="genderRequired" class="notification is-danger">
          <a class="delete" @click="genderRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>
      <button v-if="!creating" type="button" class="button buttonBlue" @click="updateInfo">Atualizar
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <button v-else type="button" class="button is-loading buttonBlue">
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
    </form>
  </div>
</template>

<script>

  import { mapGetters, mapMutations } from 'vuex'
  import SimpleVueValidator from 'simple-vue-validator'
  import {UPDATE_USER_CHECKOUT_DATA, CHECKOUT_USER_VALIDATED,CHECKOUT_REQUEST_VALIDATE} from './../../store/mutations'
  import requestHelper from './../../utils/requestHelper'
  import Datepicker from 'vuejs-datepicker';

  const Validator = SimpleVueValidator.Validator;

  export default {
    name: 'UserForm',

    components: {
      Datepicker
    },

    data () {
      return {
        emailRequired: null,
        nameRequired: null,
        lastNameRequired: null,
        cpfRequired: null,
        codeAreaRequired: null,
        phoneNumberRequired: null,
        birthRequired: null,
        genderRequired: null,
        wrongEmail: null,

        creating: null,

        localUser: {
          name: null,
          lastName: null,
          email: null,
          cpf: null,
          codeArea: null,
          phoneNumber: null,
          birth: null,
          gender: null,
        },
      }
    },

    computed: {
      ...mapGetters([
        'user',
        'checkout'
      ]),
      userPendingStatus(){
        return this.user.pending
      },
      checkoutStatus(){
        return this.checkout.status;
      },
      checkoutValidating(){
        return this.checkout.validating;
      },
    },
    mounted(){
      this.localUser.lastName = this.user.last_name
      this.localUser = Object.assign({},this.user)
    },

    watch:{
      userPendingStatus(){
        if(!this.userPendingStatus)
          this.localUser = Object.assign({}, this.user)
      },
      checkoutValidating(){
        if(this.checkoutValidating)
          this.validateForm();
      }
    },

    methods : {
      ...mapMutations({
        checkoutUserValidated: CHECKOUT_USER_VALIDATED,
        updateUserCheckoutData: UPDATE_USER_CHECKOUT_DATA,
        checkoutRequestValidate: CHECKOUT_REQUEST_VALIDATE
      }),
      updateInfo(){
        this.$validate().then((response)=>{
          if(!response)
            return;
          const userJson = JSON.stringify(this.localUser)

          this.creating = true;
          requestHelper.updateUserById(this.localUser.id, userJson).then(response=>{
            this.creating = false;
          })
        })
      },
      validateForm(){
        this.$validate().then(response=>{
          if(response) {
            const data = Object.assign({},this.localUser)
            this.checkoutUserValidated(true)
            this.updateUserCheckoutData(data)
          }
          else
            this.checkoutUserValidated(false)
          this.checkoutRequestValidate(false)
        })
      },
    },

    validators: {
      email: function () {

        this.wrongEmail = false
        this.emailRequired = false

        const email = this.localUser.email ? this.localUser.email : ''

        const validator = Validator.value(email).required().email()
        const msg = validator._messages[0]
        if(msg === "Invalid email.")
          this.wrongEmail = true;
        else if (msg === "Required.")
          this.emailRequired = true;
        return validator;
      },
      name(){
        this.nameRequired = false;
        const name = this.localUser.name ? this.localUser.name : ''
        if(Validator.value(name).required()._messages.length >0)
          this.nameRequired = true
        return Validator.value(name).required()
      },
      lastName(){
        this.lastNameRequired = false;
        const lastName = this.localUser.lastName ? this.localUser.lastName : ''
        if(Validator.value(lastName).required()._messages.length>0)
          this.lastNameRequired = true;
        return Validator.value(lastName).required()
      },
      cpf(){
        this.cpfRequired = false;
        const cpf = this.localUser.cpf ? this.localUser.cpf : ''

        if(Validator.value(cpf).required()._messages.length >0)
          this.cpfRequired = true
        return Validator.value(cpf).required()
      },
      phoneNumber(){
        this.phoneNumberRequired = false;
        const phoneNumber = this.localUser.phoneNumber ? this.localUser.phoneNumber : ''

        if(Validator.value(phoneNumber).required()._messages.length >0)
          this.phoneNumberRequired = true
        return Validator.value(phoneNumber).required()
      },
      codeArea(){
        this.codeAreaRequired = false;
        const codeArea = this.localUser.codeArea ? this.localUser.codeArea : ''

        if(Validator.value(codeArea).required()._messages.length >0)
          this.codeAreaRequired = true
        return Validator.value(codeArea).required()
      },
      birth(){
        this.birthRequired = false;
        const birth = this.localUser.birth ? this.localUser.birth : ''

        if(Validator.value(birth).required()._messages.length >0)
          this.birthRequired = true
        return Validator.value(birth).required()
      },
      gender(){
        this.genderRequired = false;
        const gender = this.localUser.gender ? this.localUser.gender : ''

        if(Validator.value(gender).required()._messages.length >0)
          this.genderRequired = true
        return Validator.value(gender).required()
      }
    },

  }
</script>

<style scoped lang="scss">




</style>
