<template>
  <div class="user-form">
    <form>
      <div class="field" >
        <label class="label" >Nome : </label>
        <div v-if="nameRequired" class="notification is-danger">
          <a class="delete" @click="nameRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <p class="control has-icons-left has-icons-right">
          <input :class="nameRequired ? 'is-danger' : '' "
                 v-model="localUser.name" class="input" type="text" placeholder="Nome" >
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
        </p>
      </div>

      <div class="field" >
        <label class="label">Sobrenome : </label>
        <div v-if="lastNameRequired" class="notification is-danger">
          <a class="delete" @click="lastNameRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <p class="control has-icons-left has-icons-right">
          <input :class="lastNameRequired ? 'is-danger' : '' " v-model="localUser.lastName" class="input" type="text" placeholder="Sobrenome">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
        </p>
      </div>

      <div class="field" >
        <label class="label" :class="{error: validation.hasError('email')}">Email: </label>
        <div v-if="emailRequired" class="notification is-danger">
          <a class="delete" @click="emailRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <div v-if="wrongEmail" class="notification is-danger">
          <a class="delete" @click="wrongEmail = false"></a>
          <p>
            Email incorreto
          </p>
        </div>
        <p class="control has-icons-left has-icons-right">
          <input :class="wrongEmail || emailRequired ? 'is-danger' : '' " type="email" v-model="localUser.email" class="input" placeholder="Email" >
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </p>
      </div>

      <div v-if="passNotMatch" class="notification is-danger">
        <a class="delete" @click="passNotMatch = false"></a>
        <p>
          Senhas não são iguais
        </p>
      </div>

      <div class="field" >
        <label class="label">Senha : </label>
        <div v-if="passwordRequired" class="notification is-danger">
          <a class="delete" @click="passwordRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <p class="control has-icons-left has-icons-right">
          <input :class="passwordRequired ? 'is-danger' : '' " class="input password-input" type="password" placeholder="●●●●●●●" v-model="localUser.password">
          <span class="icon is-small is-left">
          <i class="fa fa-key"></i>
        </span>
          <span class="icon is-small is-right">
          <i class="fa fa-warning"></i>
        </span>
        </p>
      </div>

      <div class="field" >
        <label class="label">Confirmar Senha: </label>
        <div v-if="confirmPassRequired" class="notification is-danger">
          <a class="delete" @click="confirmPassRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <p class="control has-icons-left has-icons-right">
          <input :class="confirmPassRequired ? 'is-danger' : '' " v-model="localConfirmPass" class="input" type="password" placeholder="●●●●●●●" >
          <span class="icon is-small is-left">
            <i class="fa fa-key"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
        </p>
      </div>

    </form>
    <a v-if="!creating" class="button is-info" @click="createUser" style="margin:1em;">Criar</a>
    <a class="button is-info is-loading" v-else style="margin:1em;"></a>

  </div>
</template>

<script>

  import { mapGetters, mapActions } from 'vuex'
  import {CHANGE_STATUS} from '../../store/mutations'
  import SimpleVueValidator from 'simple-vue-validator'
  import requestHelper from '../../utils/requestHelper'

  const Validator = SimpleVueValidator.Validator;

  export default {
    name: 'UserFastForm',

    data () {
      return {
        wrongEmail: null,
        emailRequired: null,
        nameRequired: null,
        lastNameRequired: null,
        passwordRequired: null,
        passNotMatch: null,
        localConfirmPass: null,
        confirmPassRequired: null,

        creating: false,

        localUser: {
          name: '',
          lastName: '',
          email: '',
          password: '',
        },
      }
    },

    mounted(){
    },

    methods : {
      createUser(){
        if(this.localConfirmPass !== this.localUser.password) {
          this.passNotMatch = true;
          return;
        }
        this.$validate().then((response)=>{
          if(!response)
            return;
          this.passNotMatch = false;
          this.localUser.user_level = 1;
          this.localUser.last_name = this.localUser.lastName;
          const userJson = JSON.stringify(this.localUser)
          this.creating = true;
          requestHelper.createUser(userJson).then(response=>{
            this.$store.commit(CHANGE_STATUS,1)
            this.creating = false;
          })
        })
      },

    },

    validators: {
      email: function () {
        this.wrongEmail = false
        this.emailRequired = false

        const validator = Validator.value(this.localUser.email).required().email()
        const msg = validator._messages[0]
        if(msg === "Invalid email.")
          this.wrongEmail = true;
        else if (msg === "Required.")
          this.emailRequired = true;
        return validator;
      },
      name(){
        this.nameRequired = false;
        if(Validator.value(this.localUser.name).required()._messages.length >0)
          this.nameRequired = true
        return Validator.value(this.localUser.name).required()
      },
      lastName(){
        this.lastNameRequired = false;
        if(Validator.value(this.localUser.lastName).required()._messages.length>0)
          this.lastNameRequired = true;
        return Validator.value(this.localUser.lastName).required()
      },
      password(){
        this.passwordRequired = false;
        if(Validator.value(this.localUser.password).required()._messages.length >0)
          this.passwordRequired = true
        return Validator.value(this.localUser.password).required()
      },
      confirmPass(){
        this.confirmPassRequired = false;
        if(Validator.value(this.localConfirmPass).required()._messages.length >0)
          this.confirmPassRequired = true
        return Validator.value(this.localConfirmPass).required()
      }
    }

  }
</script>

<style scoped lang="scss">


</style>
