<template>
  <div class="card">
    <header class="card-header"
            :class="addressInfoStatus == false ? 'border-is-danger': ''"
    >
      <p class="card-header-title">
        Informações de Endereço
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content"
         :class="addressInfoStatus == false ? 'border-is-danger': ''"
         v-show="isVisible">
      <address-form></address-form>
    </div>

  </div>
</template>

<script>
  import AddressForm from '../User/AddressForm.vue'

  import {mapGetters} from 'vuex'

  export default {
    name: 'AddressFormCard',

    components:{
      AddressForm
    },

    computed:{
      ...mapGetters(['checkout']),
      addressInfoStatus(){
        return this.checkout.validated.address
      }
    },

    data () {
      return {
        isVisible: true,

      }
    },


  }
</script>

<style scoped lang="scss">


  .card{
  }

</style>
