<template>
  <div>
    <h1 class="title">Fale Conosco!</h1>
    <h2>Tire suas duvidas, deixe um elogio ou faça uma queixa!</h2>
    <card
      :title="title"
      :component="contactUs"
    ></card>
  </div>

</template>


<script>
  import ContactUs from '../Utils/ContactUs'
  import Card from '../Utils/Card'

  import Login from '../Login/Login'

  export default {
    name: 'LoginCard',

    components: {
      ContactUs,
      Card
    },

    computed:{
      contactUs(){
        return ContactUs
      }
    },

    data () {
      return {
        auth: {
          email: null,
          password: null
        },
        title: "Contato"
      }
    },

    mounted() {
    },

    methods : {
    }
  }
</script>

<style scoped lang="scss">

</style>

