<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{loginStatusName}}
      </p>
      <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content">
      <div v-if="loginStatus == 0">
        <login></login>
        <div class="section forgot-password">
          <p class="has-text-centered">
          <p>Não é cadastrado? Crie sua
            <a  @click="changeStatus(1, $event)">Conta aqui!</a>
          </p>
          <a href="#">Esqueceu Senha</a>

        </div>
      </div>
      <div v-if="loginStatus == 1">
        <user-fast-form-card></user-fast-form-card>
        <p>Já possui conta? Retornar para o
          <a @click="changeStatus(0)">Login aqui!</a>
        </p>
      </div>
    </div>
    <footer class="card-footer">
    </footer>
  </div>
</template>


<script>
  import {mapGetters} from 'vuex'
  import {isLoggedIn,setToken,getToken,login} from '../../utils/auth'
  import {CHANGE_STATUS} from '../../store/mutations'
  import UserFastFormCard from '../User/UserFastForm'

  import Login from '../Login/Login'

  export default {
    name: 'LoginCard',

    components: {
      Login,
      UserFastFormCard
    },

    computed:{
      ...mapGetters(['login']),
      loginStatus(){
        return this.login.status
      },
      loginStatusName(){
        if(this.loginStatus === 0)
          return "Login"
        if(this.loginStatus === 1)
          return "Cadastro"
      },

    },
    data () {
      return {
        auth: {
          email: null,
          password: null
        },
        authenticating: false
      }
    },

    mounted() {
    },

    methods : {
      changeStatus(status, evt){
        this.$store.commit(CHANGE_STATUS,status)
      }
    }
  }
</script>

<style scoped lang="scss">

</style>

