<template>
  <div class="card">
    <header class="card-header"
            :class="paymentInfo == false ? 'border-is-danger': ''"
    >
      <p class="card-header-title">
        Informações de Pagamento
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-show="isVisible"
         :class="paymentInfo == false ? 'border-is-danger': ''"
    >
      <ul>
        <li class="method-wrapper"  :class="paymentMethod == 1 ? 'is-selected' : ''">

          <h2 @click="setPayment(1)">Cartão de Crédito</h2>
          <div v-if="paymentMethod == 1">
            <payment-form></payment-form>
          </div>
        </li>
        <li class="method-wrapper"  :class="paymentMethod == 2 ? 'is-selected' : ''">

          <h2 @click="setPayment(2)">Boleto</h2>
          <div v-if="paymentMethod == 2">
            <boleto></boleto>
          </div>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
  import PaymentForm from '../Payment/PaymentForm'
  import Boleto from '../Payment/BoletoForm.vue'
  import {SET_PAYMENT_METHOD} from '../../store/mutations'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'PaymentFormCard',

    components:{
      PaymentForm,
      Boleto
    },

    data () {
      return {
        isVisible: true,
        paymentMethod: null,
      }
    },

    computed:{
      ...mapGetters([
        'checkout'
      ]),
      paymentInfo(){
        return this.checkout.validated.payment;
      },
      checkoutPaymentMethod(){
        return this.checkout.data.payment.method
      }
    },

    methods : {
      ...mapMutations({
        setPaymentMethod: SET_PAYMENT_METHOD
      }),
      setPayment(method){
        if(method === this.checkoutPaymentMethod){
          this.paymentMethod = null
          this.setPaymentMethod(null)
          return;
        }
        this.paymentMethod = method
        this.setPaymentMethod(method)
      }

    }

  }
</script>

<style scoped lang="scss">
  $title-color: rgb(53,123,216);

  .method-wrapper{
    border:1px solid #eeeeee;
    padding: 1em;

  }
  .is-selected{
    border:1px solid $title-color
  }


  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }

  .no-select, h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  h1, h2 {
    color: $title-color;
  }

  h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
  }

  h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
  }

  p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }

  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }

  ul li:last-of-type {
    padding-bottom: 0;
  }
  ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: $title-color;
    width: 3px;
    height: 9px;
  }
  ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }


</style>
