<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Revisão do pedido
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-if="isVisible">
      <product-review></product-review>
    </div>
  </div>
</template>

<script>
  import ProductReview from '../Products/ProductReview'

  export default {
    name: 'ProductReviewCard',

    components:{
      ProductReview
    },

    data () {
      return {
        isVisible: true,
        localConfirmPass: null,
        confirmPass: null,
        user:{
          cep: null,
          logradouro: null,
          complemento: null,
          numero: null,
          bairro: null,
          localidade: null,
          uf: null,
        }
      }
    },

    computed:{

    },

    methods : {

    }

  }
</script>

<style scoped lang="scss">

</style>
