<template>
  <div class="card" :class="requiredError ? 'border-is-danger': ''">
    <header class="card-header">
      <p class="card-header-title">
        Informações de Envio
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-if="isVisible">
      <shipping-options></shipping-options>
    </div>

  </div>
</template>

<script>
  import ShippingOptions from '../Shipping/ShippingOptions'
  import {mapGetters, mapMutations} from 'vuex'
  import {CHECKOUT_SHIPPING_VALIDATED} from '../../store/mutations'

  export default {
    name: 'ShippingOptionsCard',

    components:{
      ShippingOptions
    },

    computed:{
      ...mapGetters(['checkout']),
      checkoutValidating(){
        return this.checkout.validating;
      },
      checkoutShippingCode(){
        return this.checkout.data.shipping.type
      },
    },

    data () {
      return {
        isVisible: true,
        requiredError: null
      }
    },
    watch: {
      checkoutValidating(){
        this.validateShipping();
      }
    },
    methods : {
    ...mapMutations({
        validateShip : CHECKOUT_SHIPPING_VALIDATED
      }),
      validateShipping(){

        if(this.checkoutShippingCode) {
          this.validateShip(true)
          this.requiredError = false
        }

        else {
          this.validateShip(false)
          this.requiredError = true
        }
      }
    },



  }
</script>

<style scoped lang="scss">

  .user-form{
  }

</style>
