<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Informações de Usuário
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-if="isVisible">
      <user-fast-form></user-fast-form>
    </div>

    <footer class="card-footer" v-if="isVisible">
    </footer>
  </div>
</template>

<script>
  import UserFastForm from '../User/UserFastForm'

  const headers = {
    'Content-Type': 'application/json',
  }


  export default {
    name: 'UserFastFormCard',

    components:{
      UserFastForm
    },

    data () {
      return {
        isVisible: true
      }
    },


  }
</script>

<style scoped lang="scss">

  .user-form{
  }

</style>
