<template>
  <div class="card">
    <header class="card-header"
            :class="userInfoStatus == false ? 'border-is-danger': ''"
    >
      <p class="card-header-title">
        Informações de Usuário
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-show="isVisible"
         :class="userInfoStatus == false ? 'border-is-danger': ''">
      <user-form></user-form>
    </div>

  </div>
</template>

<script>
  import UserForm from '../User/UserForm.vue'
  import {mapGetters} from 'vuex'

  export default {
    name: 'UserFormCard',

    components:{
      UserForm
    },

    data () {
      return {
        isVisible: true,
        localConfirmPass: null,
        confirmPass: null,
        user:{
          cep: null,
          logradouro: null,
          complemento: null,
          numero: null,
          bairro: null,
          localidade: null,
          uf: null,
        }
      }
    },

    computed:{
      ...mapGetters(['checkout']),
      userInfoStatus(){
        return this.checkout.validated.user
      }
    },

    methods : {

    }

  }
</script>

<style scoped lang="scss">

</style>
