<template>
  <footer class="footer">
    <div class="columns">

      <div class="column">
        <div><p>FIQUE CONECTADO</p></div>

        <div class="icons-wrapper" >
          <a class="icon" href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="icon" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="icon" href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="column">
        <p>Faça Parte: </p>
        <div>
          <input class="input" placeholder="Email"/>
          <a class="button is-light is-medium" style="margin:1em">Registrar</a>
        </div>
      </div>

      <div class="column has-text-centered">
        <p>Precisa de ajuda?</p>
        <p>
          <a class="icon" href="#">
            <i class="fa fa-whatsapp"></i>
          </a>
          (61) 984043402
        </p>

      </div>

    </div>


  </footer>
</template>

<script>
  export default {
    name: 'Footer',
    data () {
      return {
      }
    },
    mounted(){
    }
  }
</script>

<style scoped>
  .footer {
    background: rgb(48,49,50);
    color: #c3c3c3;
  }
  .icon {
    color: white;
  }
  .icon:hover {
    color: #c3c3c3;
  }

</style>
