
<template>

  <aside v-show="rightSidebarStatu" class="app-sidebar aside hero is-fullheight">
    <div>
      <div class="logo">
        <img src=""  alt="Bulma logo">
      </div>

      <hr>

      <div class="main">
        <shopping-cart></shopping-cart>
      </div>

    </div>
  </aside>
</template>


<script>

  import { mapMutations, mapGetters } from 'vuex'
  import ShoppingCart from '../ShoppingCart/ShoppingCart.vue'

  const TABLET_SIZE = 979;
  export default {

    components: {ShoppingCart},
    name:"RightSideBar",

    component:{
      ShoppingCart
    },

    ready: function () {
      window.addEventListener('resize', this.handleResize)
    },


    computed:{
      ...mapGetters([
        'sidebar'
      ]),
      rightSidebarStatu(){
        return this.sidebar.activeStatus.right
      }
    },
    data(){
      return {
        windowWidth: null,
        windowHeight: null
      }
    },

    mounted(){
      this.windowWidth = document.documentElement.clientWidth;
      this.windowHeight = document.documentElement.clientHeight;
      if(this.windowWidth<=TABLET_SIZE)
        this.updateSideBarActiveStatus(false);
    },

    methods : {
      ...mapMutations({
        updateSideBarActiveStatus : 'TOGGLE_SIDEBAR_RIGHT'
      }),

      handleResize(event){
      }

    },

    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style scoped lang="scss">

  .app-sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 15em;
    background: #ededed;
    box-shadow: 5px 43px 22px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
    height: 100%;


    .icon {
      vertical-align: baseline;
      &.is-angle {
        position: absolute;
        right: 10px;
        transition: transform .377s ease;
      }
    }

    .menu-label {
      padding-left: 5px;
    }

    .menu-list {
      li a {
        &[aria-expanded="true"] {
          .is-angle {
            transform: rotate(180deg);
          }
        }
      }

      li a + ul {
        margin: 0 10px 0 15px;
      }
    }
  }
  .menu-list a:hover {
    color: black !important;
    font-weight: bold
  }

  .logo {
    background-color: white;
  }
  .router-link-active {
    color: #f6f7f7 !important;
    font-weight: bold;
  }

</style>
