
<template>

  <aside class="app-sidebar aside hero is-fullheight">
    <div>
      <div class="logo">
        <!--<img src="../../assets/tempLogo.jpeg"  alt="Bulma logo">-->
      </div>

      <hr>

      <div class="main">

        <ul class="menu-list">
          <li v-for="item in menus" >
            <div v-if="item.meta.sidebar">
              <router-link class="font-gray" :to="item.path" :exact="true">{{item.meta.label}}</router-link>
            </div>
            <!-- <ul v-if="item.children && item.isActive">
              <li v-for="child in item.children" v-on:click="toggleActive(child)">
                <router-link class="font-gray" :to="item.path + '/' +child.path">{{child.meta.label}}</router-link>
              </li>
            </ul> -->
          </li>
        </ul>
      </div>

    </div>
  </aside>
</template>


<script>

  import { mapMutations, mapGetters } from 'vuex'

  const TABLET_SIZE = 979;
  export default {
    props : [
      'menus',
    ],

    ready: function () {
      window.addEventListener('resize', this.handleResize)
    },


    computed:{
      ...mapGetters([
        'sidebar'
      ]),
    },
    data(){
      return {
        windowWidth: null,
        windowHeight: null
      }
    },

    mounted(){
      this.windowWidth = document.documentElement.clientWidth;
      this.windowHeight = document.documentElement.clientHeight;
      if(this.windowWidth<=TABLET_SIZE)
        this.updateSideBarActiveStatus(false);
    },

    methods : {
      ...mapMutations({
        updateSideBarActiveStatus : 'UPDATE_SIDEBAR_ACTIVE_STATUS'
      }),


    },

    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style scoped lang="scss">

  .app-sidebar {
    position: fixed;
    top: 50px;
    width: 15em;
    background: black;
    box-shadow: 5px 43px 22px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
    height: 100%;


    .icon {
      vertical-align: baseline;
      &.is-angle {
        position: absolute;
        right: 10px;
        transition: transform .377s ease;
      }
    }

    .menu-label {
      padding-left: 5px;
    }

    .menu-list {
      li a {
        &[aria-expanded="true"] {
          .is-angle {
            transform: rotate(180deg);
          }
        }
      }

      li a + ul {
        margin: 0 10px 0 15px;
      }
    }
  }
  .menu-list a:hover {
    color: black !important;
    font-weight: bold
  }

  .logo {
    background-color: white;
  }
  .router-link-active {
    color: #f6f7f7 !important;
    font-weight: bold;
  }

</style>
