<template>
  <section class="hero is-bold app-navbar animated " :class="{ slideInDown: showNav, slideOutDown: !showNav }">
    <div class="hero-head">
      <nav class="nav">

        <div class="nav-left">
          <a class="nav-item is-hidden-desktop nav-bars" @click="show = !show">
            <i class="fa fa-bars" aria-hidden="true" ></i>
          </a>
          <a class="is-hidden-touch">
            <img src="" class="logo " alt="Site logo">
          </a>
        </div>

        <div class="is-flex items-wrapper is-hidden-touch">
          <router-link
            v-if="item.meta.navItem && (item.meta.auth ? login.login : true)"
            v-for="item in menus"
            :key="item.name"
            class="nav-item hero-brand "
            :to="item.path" :exact="true">

            {{item.meta.label}}
          </router-link>
        </div>

        <div class="nav-center">
          <img src="" class="logo is-hidden-desktop" alt="Site logo">
        </div>

        <div class="nav-right is-flex">

          <a class="toggle-sidebar nav-item" @click="toggleSidebarRight(!sidebarRightStatus)">
            <i class="fa fa-shopping-cart"></i>
          </a>

          <div class="has-dropdown">
            <a class="nav-item" @click="showCog = !showCog">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
            <div class="dropdown box" v-show="showCog">
              <ul>
                <li>
                  <router-link v-for="item in menus" v-if="item.meta.cogItem && (item.meta.auth ? login.login == item.meta.auth : true)"
                               :key="item.name"
                               class="nav-item" :to="item.path" :exact="true"
                  >
                    {{item.meta.label}}
                  </router-link>
                </li>
                <li v-if="login.login">
                  <a class="nav-item" @click="logout('/login')" >Logout</a>
                </li>
                <li  v-else>
                  <router-link to="/login" class="nav-item">Login</router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </nav>
    </div>


    <!---------------------------mobile----------------------------->

    <div class="is-hidden-desktop items-wrapper-mobile" v-show="show">
      <router-link v-for="item in menus" v-if="item.meta.navItem  && (item.meta.auth ? login.login : true)"
                   :key="item.name"
                   class="nav-item nav-item-mobile" :to="item.path" :exact="true"
      >
        {{item.meta.label}}
      </router-link>
    </div>



  </section>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'

  export default {
    name: 'Navbar',
    props : [
      'title',
      'menus',
      'cogMenus'
    ],
    data(){
      return{
        showNav : true,
        show: false,
        showCog: false
      }
    },
    computed:{
      ...mapGetters(['login','sidebar']),
      sidebarRightStatus(){
        return this.sidebar.activeStatus.right;
      }
    },
    methods :{
      ...mapMutations({
        logoutMutation: 'LOGOUT',
        decrementStepNumber: 'DECREMENT_STEP_NUBMER',
        toggleSidebarRight: 'TOGGLE_SIDEBAR_RIGHT'
      }),
      logout(logout){
        this.logoutMutation(logout)
        this.decrementStepNumber()
      },
    }
  }
</script>

<style lang="scss" scoped>


  @import '~bulma/sass/utilities/variables';

  .app-navbar {
    position: fixed;
    width: 100%;
    padding-top: .5em;

    z-index: 1024;
    background: rgb(48, 49, 50);
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgb(0, 0, 0);

    .container {
      margin: auto 10px;
    }

    .nav-right {
      align-items: stretch;
      flex: 1;
      justify-content: flex-end;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  .nav-item-mobile{
    background: #404040;
    border-bottom: 1px solid #2c2c2c;
  }

  .logo{
    max-height:90% !important;
    width: 100px;
  }
  nav{
    padding-right: 10%;
    padding-left: 10%;
  }
  .nav-bars{
    color: #ffffff !important;
  }

  .nav-left{
    overflow-y:hidden !important;
    overflow-x:hidden !important;
  }

  .nav-item{
    color: #cacaca !important;
    padding: 1em;
  }
  .button{
    color: #535353 !important;
  }
  .button.nav-item{
    margin-top: .5em;
    min-height: 35px !important;
  }
  .nav-item.button{
  }
  .nav-item:hover{
    color: #fdfffb !important;
    border-bottom: 1px solid white;
  }
  .router-link-active {
    font-size: 12.8pt;
    color: #fdfffb !important;
    border-bottom: 1px solid white;
  }

  .dropdown {
    position: absolute;
    z-index: 9999;
    right: 10%;
  }

  .box{
    background-color:rgb(48,49,50);
  }

  @media only screen and (min-width: 1px) and (max-width: 400px) {
    .logo{
      display: none;
    }
    .dropdown {
      right: 0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo{
      width: 50px;
    }
    .dropdown {
      right: 0;
    }
  }
  /* Mobile Layout */
  @media only screen and (max-width: 767px){
    .logo{
      width: 50px;
    }
    .dropdown {
      right: 0;
    }
  }
</style>
