<template>
  <tr>
    <th v-if="transaction" >{{code}}</th>
    <th v-else="">Pagamento Não Efetuado</th>

    <th>{{totalQuantity}}</th>

    <th>{{totalValue}}</th>

    <th v-if="transaction">{{transactionStatus}}</th>
    <th v-else><router-link :to="{path: '/checkout/'+checkoutId}" class="button is-primary">Pagar</router-link></th>

  </tr>
</template>


<script>
  import {mapGetters} from 'vuex'
  import requestHelper from '../../utils/requestHelper'

  export default {
    name: 'LoginCard',

    components: {
    },

    props:{
      checkout : {
        type: Object,
        required: true
      }
    },

    computed:{
      ...mapGetters(['user']),
      userId(){
        return this.user.id
      },
      checkoutId(){
        return this.checkout._id
      },
      userProducts(){
        return this.checkout._user_products
      },
      transaction(){
        return this.checkout._transaction
      },
      code(){
        return this.transaction.code
      },
      transactionStatus(){
        return this.checkout._transaction.status
      },
      totalValue(){
        if(!this.userProducts)
          return

        return this.userProducts.reduce((total, product) => {
          return total + product.quantity*product.value_paid
        }, 0)
      },
      totalQuantity(){
        if(!this.userProducts)
          return

        return this.userProducts.reduce((total, product) => {
          return total + product.quantity
        }, 0)
      }

    },
    data () {
      return {
        loading: true,

      }
    },

    methods : {
      getTotalQuantity(products){

      },
      getTotalValue(products){

      }

    }
  }
</script>

<style scoped lang="scss">

</style>

