<template>
  <div class="">
    <h1 class="title is-2">Checkouts</h1>
    <div>
      <table class="table is-striped">
        <thead>
        <tr>
          <th>Codigo</th>
          <th>Qtd Produtos</th>
          <th>Valor</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
          <checkout-item
            v-for="checkout in checkouts"
            :checkout="checkout"
            :key="checkout._id"
          ></checkout-item>

        </tbody>
        <tfoot>
        <tr>
          <th>Total</th>
          <th>50</th>
          <th>500</th>
          <th>status</th>
        </tr>
        </tfoot>

      </table>

    </div>

  </div>
</template>


<script>
  import {mapGetters} from 'vuex'
  import requestHelper from '../../utils/requestHelper'
  import CheckoutItem from './CheckoutItem'

  export default {
    name: 'LoginCard',

    components: {
      CheckoutItem
    },

    computed:{
      ...mapGetters(['user']),
      userId(){
        return this.user.id
      },
      products(){
        return this._user_products
      },

    },
    data () {
      return {
        loading: true,
        checkouts: []

      }
    },

    mounted() {
      if(this.userId)
        this.getCheckouts(this.userId)
    },

    watch: {
      userId(){
        if(this.userId)
          this.getCheckouts(this.userId)
      }

    },

    methods : {
      getCheckouts(id){
        this.loading = true;
        requestHelper.getCheckoutsByUserId(id).then(response=>{
          this.loading = false;
          this.checkouts = response.data.data
        }).catch(err=>{
          console.log(err)
        })
      },



    }
  }
</script>

<style scoped lang="scss">

</style>

