<template>
  <div class="atendimento">
    <contact-us-card></contact-us-card>
  </div>

</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'
  import ContactUsCard from '../components/Cards/ContactUsCard'


  export default {
    name: 'Home',

    components:{
      ContactUsCard
    },

    data () {
      return {

      }

    },

    computed: {

    },

    mounted(){

    },
    methods : {

    }
  }
</script>

<style scoped lang="scss">
  .atendimento{
    padding-top: 5em;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
  }

</style>
