<template>
  <section class="checkout">
    <div class="stepper-wrapper">
      <stepper
        :steps="steps"
        :step-number="checkout.stepNumber"
        :offset="1"
      >
      </stepper>
    </div>
    <div v-if="checkout.stepNumber==0" class="login-wrapper">
      <login-card></login-card>
    </div>

    <div v-if="checkout.stepNumber==1">
      <div class="columns forms-wrapper" >
        <div class="column"
             style="margin-left: 2em; margin-right: 2em;"
        >
          <address-form-card
            style="margin-bottom: 2em"
          ></address-form-card>
          <user-form-card></user-form-card>
        </div>
        <div class="column"
             style="margin-left: 2em; margin-right: 2em;">
          <shipping-options-card
            style="margin-bottom: 2em"
          ></shipping-options-card>
          <payment-form-card></payment-form-card>
        </div>
        <div class="column"
             style="margin-left: 2em; margin-right: 2em;">
          <product-review-card></product-review-card>
          <a v-if="checkoutStatus == 'pending' " class="mdl-button button is-large is-orange is-loading">Finalizar</a>
          <a class="mdl-button is-large is-orange" v-else @click="validateCheckout(true)">Finalizar</a>
        </div>
      </div>

    </div>

    <div v-if="checkout.stepNumber==2" class="confirmation-page-wrapper">
      <confirmation-page></confirmation-page>
    </div>

  </section>
</template>

<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import {INCREMENT_STEP_NUBMER, CHECKOUT_REQUEST_VALIDATE,
    SET_CHECKOUT_ID,SET_CHECKOUT_STEP_NUMBER} from './../store/mutations'
  import Stepper from '../components/Utils/Stepper.vue'
  import LoginCard from '../components/Cards/LoginCard'
  import AddressFormCard from '../components/Cards/AddressFormCard.vue'
  import UserFormCard from '../components/Cards/UserFormCard.vue'
  import ShippingOptionsCard from "../components/Cards/ShippingOptionsCard";
  import PaymentFormCard from "../components/Cards/PaymentFormCard";
  import ConfirmationPage from "../components/Payment/ConfirmationPage";
  import ProductReviewCard from "../components/Cards/ProductReviewCard";

  const StepNames = ['Login', 'Endereço e Pagamento', 'Confirmação']

  export default {
    name: 'Checkout',

    components:{
      ShippingOptionsCard,
      Stepper,
      LoginCard,
      AddressFormCard,
      UserFormCard,
      PaymentFormCard,
      ProductReviewCard,
      ConfirmationPage

    },
    mounted(){
      const numberOfSteps = 3;
      for(let i=0;i < numberOfSteps;i++){
        this.steps.push({number: i, name: StepNames[i]})
      }
      if(this.$route.params.id !== 'new'){
        const id = this.$route.params.id
        this.getCheckoutById(id)
      }

      if(this.sessionId)
        PagSeguroDirectPayment.setSessionId(this.sessionId)

      else {
        if (!this.sessionIdPending)
          this.startCheckoutSession()
      }

      if(this.user.login)
        this.setStepNumber(1)
      else
        this.setStepNumber(0)
    },

    computed: {
      ...mapGetters({
        user: 'user',
        checkout: 'checkout',
        login: 'login',
      }),
      totalValue(){
        return this.products.reduce((total, product) => {
          return total + product.price * product.qtd
        }, 0).toFixed(2)
      },
      checkoutId(){
        return this.checkout.id
      },
      products(){
        return this.checkout.data.products
      },
      paymentMethod(){
        return this.checkout.method
      },
      senderHash(){
        return this.checkout.senderHash
      },
      paymentUser(){
        this.checkout.data.user.hash = this.senderHash
        return this.checkout.data.user
      },
      paymentAddress(){
        return this.checkout.data.address
      },
      paymentCard(){
        return this.checkout.data.payment
      },
      paymentShipping(){
        return this.checkout.data.shipping
      },
      paymentProducts(){
        return this.checkout.data.products
      },
      checkoutValidating(){
        return this.checkout.validating
      },
      checkoutStatus(){
        return this.checkout.status
      },
      addressValidated(){
        return this.checkout.validated.address
      },
      userValidated(){
        return this.checkout.validated.user
      },
      shippingValidated(){
        return this.checkout.validated.shipping
      },
      paymentValidated(){
        return this.checkout.validated.payment
      },
      validated(){
        return this.addressValidated && this.userValidated && this.paymentValidated && this.shippingValidated;
      },
      sessionId(){
        return this.checkout.sessionId
      },
      sessionIdPending(){
        return this.checkout.sessionIdPending
      },

      requestData(){
        return {
          checkoutId: this.checkoutId,
          user: Object.assign({},this.paymentUser),
          address: Object.assign({},this.paymentAddress),
          payment: Object.assign({},this.paymentCard),
          products: Object.assign({},this.paymentProducts),
          shipping: Object.assign({},this.paymentShipping),
          method: this.paymentMethod
        }
      },
    },

    watch:{

      sessionId(){
        if(this.sessionId)
          return PagSeguroDirectPayment.setSessionId(this.sessionId)
      },

      validated(){
        console.log(this.paymentMethod)
        switch(this.paymentMethod){
          case 1:
            if (this.validated && this.checkoutStatus !== 'pending')
              this.cardCheckoutRequest(this.requestData)
            break;

          case 2:
            this.requestData.payment.installments = {
              quantity: 1,
              noInterestInstallmentQuantity: true,
              value: this.totalValue
            }
            if (this.validated && this.checkoutStatus !== 'pending')
              this.boletoCheckoutRequest(this.requestData)
        }

      },
    },

    data(){
      return{
        cep:null,
        stepNumber: 0,
        loginStatus: 1,
        steps:[],
        step: {
          number: null,
          name: null
        }
      }
    },
    methods :{
      ...mapActions({
        cardCheckoutRequest: 'cardCheckoutRequest',
        boletoCheckoutRequest: 'boletoCheckoutRequest',
        startCheckoutSession: 'startSession',
        getCheckoutById: 'getCheckoutById'
      }),
      ...mapMutations({
        incrementStepNumber: INCREMENT_STEP_NUBMER,
        checkoutRequestValidate: CHECKOUT_REQUEST_VALIDATE,
        setCheckoutId: SET_CHECKOUT_ID,
        setStepNumber: SET_CHECKOUT_STEP_NUMBER,

      }),

      validateCheckout(status){
        this.checkoutRequestValidate(status)
      },
    }
  }
</script>

<style lang="scss" scoped>

  .stepper-wrapper{
    width: 50%;
    margin-left: 25%;
    margin-top: 5em !important;
    margin-bottom: 0 !important;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .stepper-wrapper{
      width: 100%;
      margin:0;
    }

  }
  /* Mobile Layout */
  @media only screen and (max-width: 767px){
    .stepper-wrapper{
      width: 100%;
      margin:0;

    }

  }
  .login-wrapper{
    width: 80%;
    margin-left: 10%;
  }
  .confirmation-page-wrapper{
    margin-top: -1em;

  }

</style>
