<template>
  <div>

    <div class="section product-header">
      <div class="container">
        <div class="columns">
          <div class="column">
            <span class="title is-3">Product Name</span>
            <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
            <span class="title is-4 has-text-muted">Category</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <div class="image is-2by2">
              <img :src=product.image_url>
            </div>
          </div>
          <div class="column is-5 is-offset-1">
            <div class="title is-2">{{product.name}}</div>
            <p class="title is-3 has-text-muted">{{product.price}}</p>
            <hr>
            <br>

            <p>
              {{product.description}}
            </p>

            <br>
            <br>
            <p class="">
              <a>
                <i class="fa fa-minus cart-icon"></i>
              </a>
              &nbsp;
              <input type="text" name="" class="input has-text-centered" value="1" style="width:40px;">
              &nbsp;
              <a>
                <i class="fa fa-plus cart-icon"></i>
              </a>
              &nbsp; &nbsp; &nbsp;
              <a class="button is-primary" @click="addToCart(product)">

                Adicionar ao Carrinho
                &nbsp;

                <a class="icon" href="#">
                  <i class="fa fa-shopping-cart"></i>
                </a>

              </a>
            </p>

            <br>

            <table class="table">
              <tbody>
              <tr>
                <td class="has-text-right">
                  <strong>Item ID</strong>
                </td>
                <td>{{product._id}}</td>
              </tr>

              <tr>
                <td class="has-text-right">
                  <strong>Estoque</strong>
                </td>
                <td>{{product.quantity}}</td>
              </tr>
              </tbody>
            </table>

            <div class="container">
              <div class="tabs">
                <ul>
                  <li><a>Calcular Frete</a></li>
                </ul>
              </div>
              <div class="box">

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import requestHelper from '../utils/requestHelper'

  export default {
    name: 'ProductDetails',

    components:{
    },
    data () {
      return {
        product: {}
      }
    },
    computed: {
      ...mapGetters(['allProducts'])
    },

    mounted(){

      if(this.allProducts[this.$route.params.id]){
        this.product = this.allProducts[this.$route.params.id]
      }
      else{
        requestHelper.getProductById(this.$route.params.id).then(response=>{
          this.product = response.data.data
        }).catch(err=>{
          console.log(err)
        })
      }

    },

    methods : {
      ...mapActions([
        'addToCart'
      ]),
    }
  }
</script>

<style scoped lang="scss">

</style>

