<template>
  <div class=" profile">

    <div class="section profile-heading">
      <div class="columns">
        <div class="column is-2">
          <div class="image is-128x128 avatar">
            <img src="https://placehold.it/256x256">
          </div>
        </div>
        <div class="column is-4 name">
          <p>
            <span class="title is-bold">{{userFullName}}</span>
          </p>
        </div>
      </div>
      <hr>

    </div>
    <div class="profile-options">
      <div class="tabs is-fullwidth">
        <ul>
          <li class="link " @click="status = 0"
            :class="status==0 ? 'is-active' : ''"
          >
            <a>
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <span>Minhas Informações</span></a>
          </li>
          <li class="link " @click="status = 1"
              :class="status==1 ? 'is-active' : ''"
          >
            <a>
              <span class="icon">
                <i class="fa fa-list"></i>
              </span>
              <span>Minhas Compras</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="columns" v-show="status == 0">
      <user-form-card class="column little-margin"></user-form-card>
      <address-form-card class="column  little-margin"></address-form-card>
    </div>

    <div v-show="status == 1">
      <div class="box">
        <!-- Main container -->
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-item">
              <p class="subtitle is-5">
              </p>
            </div>
            <div class="level-item">
              <p class="control has-addons">
                <input class="input" type="text" placeholder="Achar uma Compra">
                <button class="button">
                  Procurar
                </button>
              </p>
            </div>
          </div>
        </nav>
      </div>

      <my-checkouts></my-checkouts>

    </div>

  </div>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'
  import UserFormCard from "../components/Cards/UserFormCard";
  import AddressFormCard from "../components/Cards/AddressFormCard";
  import MyCheckouts from "../components/Checkout/Checkouts";

  export default {
    name: 'Profile',

    components: {
      AddressFormCard,
      UserFormCard,
      MyCheckouts
    },
    data () {
      return {
        status: 0
      }
    },

    computed: {
      ...mapGetters({
        user: 'user'
      }),
      userFullName(){
        return this.user.name + ' ' + this.user.lastName
      }

    },

    mounted(){

    },
    methods : {

    }
  }
</script>

<style scoped lang="scss">
  .profile{
    margin-top:5em;
    width: 80%;
    margin-left: 10%;
  }
  .little-margin{
    margin: 1em;
  }

</style>
