<template>
  <section class="section sale">
    <div class="header">
      <h1 class="title is-1 head-title ">Nossa Promoções!</h1>
    </div>

    <div>
      <div class="tile is-ancestor">

        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification">
                <p class="title">Categoria 1</p>
                <p class="subtitle">Até 20%</p>
              </article>
              <article class="tile is-child notification ">
                <p class="title">Categoria 2</p>
                <p class="subtitle">Até 30%</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification ">
                <p class="title">Categoria 3</p>
                <p class="subtitle">Até 40%</p>
                <figure class="image is-4by3">
                  <img src="http://placehold.it/640x480">
                </figure>
              </article>
            </div>
          </div>

          <div class="tile is-parent is-bold">
            <article class="tile is-child notification ">
              <p class="title">Categoria 4</p>
              <p class="subtitle">Venha aproveitar</p>
              <div class="content">
                <!-- Content -->
              </div>
            </article>
          </div>

        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification ">
            <div class="content">
              <p class="title">Categoria 5</p>
              <p class="subtitle">Até 50%</p>
              <div class="content">
                <figure class="image is-1by1">
                  <img src="http://placehold.it/640x640">
                </figure>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- Uncomment if you want to use a container </div> -->
  </section>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'

  export default {
    name: 'Sale',

    components: {
    },
    data () {
      return {
        status: 0
      }
    },

    computed: {
      ...mapGetters({
      }),

    },

    mounted(){

    },
    methods : {

    }
  }
</script>

<style scoped lang="scss">

  .sale{
    min-height: 100vh;
    padding-top: 3.5em;
    background: #cecece;
  }

  .header{
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .head-title{
    color: #535353;
    font-size: 48px;
    padding-bottom: 10px;
  }
</style>
