<template>
  <div class="cart">
    <h2 class="title is-4">
      Seu Carrinho
      <a>
        <i class="fa fa-shopping-cart" style="color: black"></i>
      </a>
    </h2>
    <div v-if="!products.length">
      <p >
        Seu carrinho está vazio
      </p>
      <span class="is-bold title is-5">Aproveite nossas ofertas!</span>
    </div>
    <ul v-else>
      <li  v-for="product in products" >
        <shopping-cart-card
          :product="product"></shopping-cart-card>
      </li>
      <div style="padding:1em">
        <p>SubTotal: {{ subTotal }} R$</p>
      </div>
    </ul>


    <p>
      <a
        @click="goToCheckout"
        :class="!products.length ? 'disabled' : ''"
        class="button is-light-black"
      >
        Finalizar Compra
      </a>
    </p>
  </div>
</template>

<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import ShoppingCartCard from './ShoppingCartItem.vue'
  import {SET_PRODUCTS_CHECKOUT_DATA, SET_CHECKOUT_ID} from '../../store/mutations'

  export default {
    name: 'ShoppingCart',

    components:{
      ShoppingCartCard
    },
    mounted(){
    },

    computed: {
      ...mapGetters({
        products: 'cartProducts',
        checkout: 'checkout',
        user:     'user'
      }),
      productsToRequest(){
        return this.products.map(product=>{
          return {
            id: product.id,
            qtd: product.qtd,
            value: product.price
          }
        })
      },
      userId(){
        return this.user.id
      },
      subTotal () {
        return this.products.reduce((total, product) => {
          return total + product.price * product.qtd
        }, 0).toFixed(2)
      },
      total(){
        return parseFloat(this.frete) + parseFloat(this.subTotal)
      }
    },

    data(){
      return{
        frete: 3.5,
        show : false
      }
    },
    methods :{
      ...mapMutations({
        setProductData: SET_PRODUCTS_CHECKOUT_DATA,
        setCheckoutId: SET_CHECKOUT_ID
      }),
      ...mapActions([
        'startSession',
        'createCheckout'
      ]),
      startCheckoutSession(){
        return this.startSession()
      },

      goToCheckout(){
        if(!this.products.length)
          return;

        const checkout = {
          userId: this.userId,
          products: this.productsToRequest
        }
        this.setProductData(this.products)
        this.setCheckoutId(null)
        this.createCheckout(checkout)
        this.startCheckoutSession()

        this.$router.push('/checkout/new')
      }

    }
  }
</script>

<style lang="scss" scoped>



</style>
