<template>
  <div class="card">
    <div class="card-content">
      <a class="card-header-icon is-pulled-right" @click="removeFromCart(product)">
        <span class="icon">
          <i class="fa fa-close"></i>
        </span>
      </a>
      <div class="media">
        <div class="media-left">
            <img :src="product.image" alt="Image" class="image is-96x96">
        </div>
        <div class="media-content">
          <p class="title is-4">Produto: {{product.name}}</p>
          <p class="subtitle is-6">Valor: {{price}} R$</p>
          <p class="subtitle is-6">Quantidade: {{product.qtd}}</p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>

  import {mapActions} from 'vuex'

  export default {
    name: 'ShoppingCartCard',

    props:[
      'product'
    ],

    computed: {
     price(){
       return parseFloat(this.product.price).toFixed(2)
     }
    },
    data(){
      return{
      }
    },
    mounted(){
    },
    methods:{
      ...mapActions([
        'removeFromCart'
      ])
    }

  }
</script>

<style lang="scss" scoped>

  img{
    margin: 0;
    padding: 0;
  }
  .card{
    padding: 0;
    margin:0;
  }
  .card-content{
    padding: 0;
    margin:0;
  }
</style>
