<template>
  <div>
    <modal></modal>
    <div id="app" class="hero">
      <div class="hero-head">
        <navbar
          :menus="router"
        ></navbar>
      </div>

      <main class="hero-body">
        <router-view class="column">
        </router-view>
        <right-sidebar class="column"></right-sidebar>
      </main>

      <my-footer class="hero-foot"></my-footer>
    </div>

  </div>

</template>

<script>

  import Router from './router/index.js'
  import Sidebar from './components/Layout/Sidebar.vue'
  import RightSidebar from './components/Layout/RightSidebar.vue'
  import Navbar from './components/Navigation/Navbar.vue'
  import Footer from './components/Layout/Footer.vue'
  import Modal from './components/Utils/ModalCard.vue'
  import ShoppingCart from './components/ShoppingCart/ShoppingCart.vue'
  import {isLoggedIn,getUserId} from './utils/auth'

  export default {

    name: 'app',

    components: {
      Sidebar,
      RightSidebar,
      'navbar'    : Navbar,
      'my-footer' : Footer,
      ShoppingCart,
      Modal
    },

    created(){
      if(isLoggedIn())
        this.$store.dispatch('getUser')

      this.$store.dispatch('getAllProducts')
    },
    data (){
      return{
        router : null,

      }
    },

    mounted(){
      this.router = Router.options.routes
    }
  }
</script>

<style lang="scss">
  @import "../node_modules/bulma/bulma";
  @import "../node_modules/bulma/sass/utilities/initial-variables";

  $green : rgb(0,155,58);
  $blue: rgb(53,123,216);
  * { box-sizing:border-box; }

  .is-light-black{
    background: rgb(48,49,50);
    color:white;
  }
  .is-light-black.disabled{
    color: rgb(185,185,185);
    background: rgb(241,241,242);

  }

  $sizes: (0,10,15,20,25,30,50);
  $positions: ('top','left','bottom','right');

  @each $size in $sizes {
    .u-m-#{$size} {
      margin: $size + px;
    }
    .u-p-#{$size} {
      padding: $size + px;
    }
  }

  form{
    width: 100% !important;
  }
  .group {
    text-align:center;
    margin-top: 4em;
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
  }

  form {
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }

  .group {
    position: relative;
    margin-bottom: 45px;
  }

  /* ==========  Select Field Variables ========== */
  $color-black: "0,0,0";
  $select-background-color: transparent;
  $select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
  $select-font-size: 16px;
  $select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
  $select-padding: 4px;

  /* ==========  Select Field ========== */

  /* Style Select Field */
  select {
    font-family: inherit;
    background: #fafafa;
    width: 100%;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid #757575;
  }

  /* Remove focus */
  select:focus {
    outline: none}

  /* Hide label */
  .mdl-selectfield label {display: none;}
  /* Use custom arrow */
  .mdl-selectfield select {appearance: none}
  .mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
    &:after {
      position: absolute;
      top: 0.75em;
      right: 0.5em;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      border-top: .375em solid $select-border-color;
      pointer-events: none;
    }
  }

  /*********** input ***********/
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa !important;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
  }

  input:focus { outline: none; }

  /*********** input ***********/
  textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    height: 150px;
    background: #fafafa !important;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
  }

  textarea:focus { outline: none; }


  /* Label */

  .mdl-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
  }
  /* active */

  input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
    background-color: white;
  }

  .is-writed{
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
  }

  .is-wrong{
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #dc3a49;
  }


  /* Underline */

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
  }

  .bar:before { left: 50%; }

  .bar:after { right: 50%; }


  /* active */

  input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


  /* Highlight */

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }


  /* active */

  input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }


  /* Animations */

  @keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
  }


  /* Button */

  .mdl-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .mdl-button:focus { outline: 0; }

  .is-orange{
    background: rgb(255,115,0);
  }


  /* Button modifiers */

  .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }

  .buttonBlue:hover { background: #357bd8; }


  /* Ripples container */

  .ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
  }


  /* Ripples circle */

  .ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
  }

  .ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
  }


  /* Ripples animation */

  @keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
  }


  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate3d(0, 0, 0);
    text-align : center;
    font-family: 'Roboto', sans-serif;

  }

  h1{
    font-family: Androgyne_TB;

  }
  .button-dark{
    background: rgb(48,49,50);
    color: #dedede;
    border: 0;
  }
  .button-dark:hover{
    background: white;
    color: rgb(48,49,50);
    border: 0;
  }
  .columns{
    margin: 0;
    padding: 0;
  }

  .column{
    margin: 0;
    padding: 0;
  }

  .hero-body{
    min-height: 100vh;
    padding: 0;
  }

  .is-bold{
    font-weight: bold;
  }
  .is-small{
  }
  .is-hidden{
    display: none;
  }
  .is-red{
    color: rgb(182, 26, 16)
  }
  .border-is-danger{
    border: 1px solid red;
  }

  /****** fonts *******/
  @font-face {
    font-family: Androgyne_TB;
    src: url("./assets/fonts/Androgyne_TB.otf");

  }

</style>
