<template>
  <div class="card">
    <header class="card-header" >
      <p class="card-header-title">
        {{title}}
      </p>
      <a class="card-header-icon" @click="isVisible = !isVisible">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
      </a>
    </header>
    <div class="card-content" v-bind:is="component" v-if="isVisible">
    </div>
    <footer class="card-footer">
      <!--<a class="card-footer-item">Save</a>-->
      <!--<a class="card-footer-item">Edit</a>-->
      <!--<a class="card-footer-item">Delete</a>-->
    </footer>
  </div>
</template>

<script>

  export default {
    name: 'Card',

    props: {
      component: {
        type: Object,
        required: false
      },
      title:{
        type: String,
        required: false
      }
    },

    data () {
      return {
        isVisible: true

      }
    },



    methods : {

    }

  }
</script>

<style scoped lang="scss">

</style>
