<template>
  <div class="user-form">
    <form>
      <div class="group">
        <input v-model="contact.name" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[contact.name ? 'is-writed' : '',nameRequired ? 'is-wrong' : '']"
        >Nome</label>
        <div v-if="nameRequired" class="notification is-danger">
          <a class="delete" @click="nameRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="contact.email" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[contact.email ? 'is-writed' : '',emailRequired ? 'is-wrong' : '']"
        >Email</label>
        <div v-if="emailRequired" class="notification is-danger">
          <a class="delete" @click="emailRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
        <div v-if="wrongEmail" class="notification is-danger">
          <a class="delete" @click="wrongEmail = false"></a>
          <p>
            Email Incorreto
          </p>
        </div>
      </div>

      <div class="group">
        <input v-model="contact.subject" type="text"><span class="highlight"></span><span class="bar"></span>
        <label
          class="mdl-label"
          :class="[contact.subject ? 'is-writed' : '',subjectRequired ? 'is-wrong' : '']"
        >Assunto</label>
        <div v-if="subjectRequired" class="notification is-danger">
          <a class="delete" @click="subjectRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>

      <div class="group">
        <textarea v-model="contact.message" type="text"><span class="highlight"></span><span class="bar"></span></textarea>
        <label
          class="mdl-label"
          :class="[contact.message ? 'is-writed' : '',messageRequired ? 'is-wrong' : '']"
        >Mensagem</label>
        <div v-if="messageRequired" class="notification is-danger">
          <a class="delete" @click="messageRequired = false"></a>
          <p>
            Campo Obrigatório
          </p>
        </div>
      </div>
      <button v-if="!sending" type="button" class="button buttonBlue" @click="sendMessage">Enviar
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <button v-else type="button" class="button is-loading buttonBlue">
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
    </form>
  </div>
</template>

<script>

  import { mapGetters, mapMutations } from 'vuex'
  import SimpleVueValidator from 'simple-vue-validator'
  import {UPDATE_USER_CHECKOUT_DATA, CHECKOUT_USER_VALIDATED,CHECKOUT_REQUEST_VALIDATE} from './../../store/mutations'
  import requestHelper from './../../utils/requestHelper'

  const Validator = SimpleVueValidator.Validator;

  export default {
    name: 'UserForm',

    data () {
      return {
        emailRequired: null,
        nameRequired: null,
        subjectRequired: null,
        messageRequired: null,
        wrongEmail: null,

        sending: null,

        contact: {
          name: null,
          subject: null,
          email: null,
          message: null,

        },
      }
    },

    computed: {
      ...mapGetters([
        'user',
      ]),
      fullName(){
        if(!this.user.name)
          return
        return this.user.name+' '+this.user.lastName
      },
      userEmail(){
        return this.user.email
      }

    },
    mounted(){
      if(this.fullName){
        this.contact.name = this.fullName;
        this.contact.email = this.userEmail
      }
    },


    methods : {
      sendMessage(){
        this.$validate().then((response)=>{
          if(!response)
            return;
          console.log(this.contact)

          /*send message request*/

        })
      },
    },

    validators: {
      email: function () {

        this.wrongEmail = false
        this.emailRequired = false

        const email = this.contact.email ? this.contact.email : ''

        const validator = Validator.value(email).required().email()
        const msg = validator._messages[0]
        if(msg === "Invalid email.")
          this.wrongEmail = true;
        else if (msg === "Required.")
          this.emailRequired = true;
        return validator;
      },
      name(){
        this.nameRequired = false;
        const name = this.contact.name ? this.contact.name : ''
        if(Validator.value(name).required()._messages.length >0)
          this.nameRequired = true
        return Validator.value(name).required()
      },

      subject(){
        this.subjectRequired = false;
        const subject = this.contact.subject || null

        if(Validator.value(subject).required()._messages.length >0)
          this.subjectRequired = true
        return Validator.value(subject).required()
      },
      message(){
        this.messageRequired = false;
        const message = this.contact.message || null

        if(Validator.value(message).required()._messages.length >0)
          this.messageRequired = true
        return Validator.value(message).required()
      }
    },

  }
</script>

<style scoped lang="scss">




</style>
