<template>
  <nav class="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link">45</a>
      </li>
      <li>
        <a class="pagination-link is-current">46</a>
      </li>
      <li>
        <a class="pagination-link">47</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link">86</a>
      </li>
    </ul>
  </nav>
</template>

<script>


  export default {
    name: 'Home',

    data () {
      return {
      }
    },

    methods : {

    }
  }
</script>

<style scoped lang="scss">


</style>
