<template>
  <aside class="side-filter">
    <div>
      <h1 >Filtro</h1>

      <ul class="gender">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Genero</h2>
          <div>
            <div class="link-filter">
              <a >Masculino</a>
            </div>
            <div class="link-filter">
              <a >Feminino</a>
            </div>
          </div>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Categoria</h2>
          <div>

          </div>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Tamanho</h2>
          <div>

          </div>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Cores</h2>
          <div>

          </div>
        </li>

        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Preço</h2>
          <div>

          </div>
        </li>

      </ul>

      <div class="main">

        <ul class="menu-list">
          <li v-for="item in menus" >
            <div v-if="item.meta.sidebar">
              <router-link class="font-gray" :to="item.path" :exact="true">{{item.meta.label}}</router-link>
            </div>
            <!-- <ul v-if="item.children && item.isActive">
              <li v-for="child in item.children" v-on:click="toggleActive(child)">
                <router-link class="font-gray" :to="item.path + '/' +child.path">{{child.meta.label}}</router-link>
              </li>
            </ul> -->
          </li>
        </ul>
      </div>

    </div>
  </aside>
</template>


<script>

  import { mapMutations, mapGetters } from 'vuex'

  const TABLET_SIZE = 979;
  export default {
    props : [
      'menus',
    ],

    ready: function () {
      window.addEventListener('resize', this.handleResize)
    },


    computed:{
      ...mapGetters([
        'sidebar'
      ]),
    },
    data(){
      return {
        windowWidth: null,
        windowHeight: null
      }
    },

    mounted(){
      this.windowWidth = document.documentElement.clientWidth;
      this.windowHeight = document.documentElement.clientHeight;
    },

    methods : {


    },

    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style scoped lang="scss">
  $title-color : rgb(76, 78, 79);

  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }

  .no-select, h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  h1, h2 {
    color: $title-color
  }

  h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
  }

  h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
  }

  div {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }

  ul li:last-of-type {
    padding-bottom: 0;
  }
  ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: $title-color;
    width: 3px;

    height: 9px;
  }
  ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  ul li input[type=checkbox]:checked ~ div {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }


  .side-filter{
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 1em;
    padding-right: 2em;


  }


</style>
