<template>

</template>
<script>

  import {mapGetters, mapMutations} from 'vuex'
  import {UPDATE_PAYMENT_CHECKOUT_DATA, CHECKOUT_PAYMENT_VALIDATED, CHECKOUT_REQUEST_VALIDATE} from './../../store/mutations'


  export default {
    name: 'PaymentForm',

    data () {
      return {
        plots: 1,
        installments: []
      }
    },

    mounted(){
      this.validatePaymentCheckout(true)
      const data = {
        value: this.totalValue
      }
      this.setCheckoutPaymentData(data)


    },
    destroyed(){
      this.validatePaymentCheckout(null)
    },

    computed:{
      ...mapGetters({
        checkout: 'checkout',
      }),
      products(){
        return this.checkout.data.products
      },
      totalValue(){
        if(!this.products.length)
          return;

        return Number(this.products.reduce((total, product) => {
            return total + product.price * product.qtd
          }, 0).toFixed(2)) + Number(this.shippingCost)
      },
      paymentMethod(){
        return this.checkout.method
      },
      checkoutSessionId(){
        return this.checkout.sessionId
      },
      checkoutValidating(){
        return this.checkout.validating;
      },
      shippingCost(){
        if(!this.checkout.data.shipping.cost)
          return 0
        return this.checkout.data.shipping.cost
      },

    },

    methods : {
      ...mapMutations({
        validatePaymentCheckout: CHECKOUT_PAYMENT_VALIDATED,
        setCheckoutPaymentData: UPDATE_PAYMENT_CHECKOUT_DATA,
        checkoutRequestValidate: CHECKOUT_REQUEST_VALIDATE
      }),
    },

  }
</script>

<style scoped lang="scss">


</style>
