<template>
  <div>
    <div class="card-wrapper is-hidden-mobile"></div>

    <div class="form-container active">

      <form id="payment-form">

        <div class="group">
          <input  type="text" name="number" v-model="card.number">
          <label
            class="mdl-label"
            :class="[card.number ? 'is-writed' : '',cardNumberRequired ? 'is-wrong' : '']"
          >Número do Cartão</label>
          <div v-if="cardNumberRequired" class="notification is-danger">
            <a class="delete" @click="cardNumberRequired = false"></a>
            <p>
              Campo Obrigatório
            </p>
          </div>
        </div>

        <div class="group">
          <input type="text" name="name" v-model="card.fullName">
          <label
            class="mdl-label"
            :class="[card.fullName ? 'is-writed' : '',fullNameRequired ? 'is-wrong' : '']"
          >Nome no cartão</label>
          <div v-if="fullNameRequired" class="notification is-danger">
            <a class="delete" @click="fullNameRequired = false"></a>
            <p>
              Campo Obrigatório
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="group column">
            <input v-model="card.expiration_date" name="expiry" type="text" ><span class="highlight"></span><span class="bar"></span>
            <label
              class="mdl-label"
              :class="[card.expiration_date ? 'is-writed' : '',expiryRequired ? 'is-wrong' : '']"
            >MM/YYYY</label>
            <div v-if="expiryRequired" class="notification is-danger">
              <a class="delete" @click="expiryRequired = false"></a>
              <p>
                Campo Obrigatório
              </p>
            </div>
            <div v-if="wrongDate" class="notification is-danger">
              <a class="delete" @click="wrongDate = false"></a>
              <p>
                Data Errada
              </p>
            </div>
          </div>

          <div class="group column">
            <input v-model="card.cvc" type="text" name="cvc"><span class="highlight"></span><span class="bar"></span>
            <label
              class="mdl-label"
              :class="[card.cvc ? 'is-writed' : '',cvcRequired ? 'is-wrong' : '']"
            >CVC</label>
            <div v-if="cvcRequired" class="notification is-danger">
              <a class="delete" @click="cvcRequired = false"></a>
              <p>
                Campo Obrigatório
              </p>
            </div>
          </div>
        </div>

        <div class="group">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label
            class="mdl-label"
            :class="[card.installment.installmentAmount ? 'is-writed' : '',installmentRequired ? 'is-wrong' : '']"
            style="top: -15px;"
          >
            Nº de parcelas
          </label>
          <select class="browser-default" v-model="card.installment">
            <option v-for="installment in installments" :value="installment">{{installment.quantity}} x {{installment.installmentAmount}}R$</option>
          </select>
          <div v-if="installmentRequired" class="notification is-danger">
            <a class="delete" @click="installmentRequired = false"></a>
            <p>
              Campo Obrigatório
            </p>
          </div>

        </div>

      </form>
    </div>
    {{totalValue}}
    {{installments}}

  </div>
</template>

<script>

  import Card from 'card'
  import {mapGetters, mapMutations} from 'vuex'
  import SimpleVueValidator from 'simple-vue-validator'
  import {UPDATE_PAYMENT_CHECKOUT_DATA, CHECKOUT_PAYMENT_VALIDATED, CHECKOUT_REQUEST_VALIDATE} from './../../store/mutations'

  const Validator = SimpleVueValidator.Validator;
  const CREDIT_CARD_METHOD = 1

  export default {
    name: 'PaymentForm',

    data () {
      return {
        cardNumberRequired: null,
        fullNameRequired: null,
        expiryRequired: null,
        wrongDate: null,
        cvcRequired: null,
        installmentRequired: null,
        plots: 1,
        card:{
          brand: null,
          number: null,
          fullName: null,
          expiration_date: null,
          cvc: null,
          installment: {

          }
        },
        installments: []
      }
    },

    mounted(){
      let card = new Card({
        form: document.getElementById('payment-form'),
        container: '.card-wrapper'
      });
    },

    computed:{
      ...mapGetters({
        checkout: 'checkout',
      }),
      products(){
        return this.checkout.data.products
      },
      totalValue(){
        if(!this.products.length)
          return;

        return Number(this.products.reduce((total, product) => {
          return total + product.price * product.qtd
        }, 0).toFixed(2)) + Number(this.shippingCost)
      },
      paymentMethod(){
        return this.checkout.method
      },
      checkoutSessionId(){
        return this.checkout.sessionId
      },
      checkoutValidating(){
        return this.checkout.validating;
      },
      cardNumber(){
        return this.card.number
      },
      cardBin(){
        if(this.card.number && this.card.number.length >= 6)
          return this.card.number.replace(/\s+/g, '').slice(0,6)
      },
      cardBrand(){
        return this.card.brand
      },

      shippingCost(){
        if(!this.checkout.data.shipping.cost)
          return 0
        return this.checkout.data.shipping.cost
      },

    },

    watch:{
      cardBin(){
        return this.getBrand()
      },
      cardBrand(){
        this.getInstallments(this.cardBrand)
      },
      checkoutSessionId(){
        if(this.cardBin)
          return this.getBrand();
      },

      checkoutValidating(){
        if(this.checkoutValidating && this.paymentMethod === CREDIT_CARD_METHOD)
          this.validateForm();
      },
      shippingCost(){
        this.getInstallments(this.cardBrand)
      }

    },

    methods : {
      ...mapMutations({
        updateCheckoutPaymentInfoStatus: CHECKOUT_PAYMENT_VALIDATED,
        updateCheckoutPaymentInfo: UPDATE_PAYMENT_CHECKOUT_DATA,
        checkoutRequestValidate: CHECKOUT_REQUEST_VALIDATE

      }),
      validateForm(){
        this.$validate().then(response=>{
          if(response) {
            const data = Object.assign({},this.card)
            this.updateCheckoutPaymentInfoStatus(true)
            this.updateCheckoutPaymentInfo(data)
          }
          else
            this.updateCheckoutPaymentInfoStatus(false)
          this.checkoutRequestValidate(false)

        })
      },
      getBrand(){
        const scope = this;
        PagSeguroDirectPayment.getBrand({
          cardBin: scope.cardBin,
          success:response=>{
            scope.card.brand = response.brand.name
          },
          error: err => {
            console.log(err)
          },
        });
      },
      getInstallments(brand){
        const scope = this
        PagSeguroDirectPayment.getInstallments({
          amount: scope.totalValue,
          brand: brand,
          success(response){
            scope.installments = response.installments[brand]
          },
          error(err){
            console.log(err)
          },
        });
      },

    },
    validators: {
      number: function () {
        this.cardNumberRequired = false

        const number = this.card.number ? this.card.number : ''
        if(Validator.value(number).required()._messages.length >0)
          this.cardNumberRequired = true
        return Validator.value(number).required();
      },
      name: function () {
        this.fullNameRequired = false

        const name = this.card.fullName ? this.card.fullName : ''
        if(Validator.value(name).required()._messages.length >0)
          this.fullNameRequired = true
        return Validator.value(name).required();
      },
      expiry: function () {
        this.expiryRequired = false
        let year = ''

        const expiry = this.card.expiration_date ? this.card.expiration_date : ''

        if(expiry.split('/')[1])
          year = expiry.split('/')[1].trim();

        if(year.length<4)
          this.wrongDate = true;
        if(Validator.value(expiry).required()._messages.length >0 )
          this.expiryRequired = true
        return Validator.value(expiry).required() && Validator.value(year).digit().length(4);
      },
      installment: function () {
        this.installmentRequired = false

        const installment = this.card.installment.quantity ? this.card.installment : ''
        if(Validator.value(installment).required()._messages.length >0)
          this.installmentRequired = true
        return Validator.value(installment).required();
      },
      cvc: function () {
        this.cvcRequired = false

        const cvc = this.card.cvc ? this.card.cvc : ''
        if(Validator.value(cvc).required()._messages.length >0)
          this.cvcRequired = true
        return Validator.value(cvc).required();
      },

    },

  }
</script>

<style scoped lang="scss">


</style>
